.menu {
  background: blue;
  a {
    padding: 15px 0;
    color: rgba(0,0,0, .45);
    -webkit-transition:  .2s linear;
    i {
      font-size: 42px;
    }
    &.active{

      i {
        transition: all .15s linear;
        color: white;
      }
    }
  }
}
