.quiz {
  .song {
    margin-top: 20vh;
  }
  a {
    font-size: 20px;
    text-overflow: ellipsis;
    padding: 20px 0;
    text-shadow: 0 1px rgba(0,0,0, .25);
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
    -webkit-transition:  .1s linear;
    &:nth-child(odd) {
      background: $color-red;
      &:focus,
      &:active {
        background: $color-darkred;
      }
    }
    &:nth-child(2) {
      background: $color-orange;
      &:focus,
      &:active {
        background: $color-darkorange;
      }
    }
    &:nth-child(3) {
      background: $color-green;
      &:focus,
      &:active {
        background: $color-darkgreen;
      }
    }
  }
}
